.home--heading {
    font-weight: 300;
}

.home--tile-row {
    margin-top: 20px;
}

.home--tile, .home--buttton {
    margin-bottom: 15px;
}

.home--paragraph {
    margin-left: 15px;
}

.home--dropdown-inline-block, .home--page-number-paragraph {
    display: inline-block;
}

.home--dropdown-width-auto {
    width: auto;
}

.home--dropdown, .home--page-number-margin, .home--buttton {
    margin-right: 15px;
}

.home--buttton {
    vertical-align: baseline;
}

.home--dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .home--tile {
        margin-bottom: 10px;
    }
}